<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - FitMe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/fonts/fontawesome5-overrides.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/Contact-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/News-Cards.css') }}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>FitMe</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">

                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('home') }}"><i class="fas fa-home"></i><span>Home</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('activity') }}"><i class="fas fa-table"></i><span>Your Activities</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                    </div>
                </nav>
                <h1 style="margin-bottom: 20px;font-size: 28px;margin-left: 25px;color: rgb(58,59,69);">Personalised Recommendations</h1>
                <div class="container-fluid">

                {% if cat_data %}
      

                    <h3 class="text-dark mb-1" style="font-size: 24px;">Activities</h3>
                    <div class="col">
                        <div class="row">

                        {% for each in cat_data.activities %}
                          <figure class="snip1527">
                            <div class="image"><img src="{{ url_for('static', filename=each[2]) }}" alt="pr-sample23" /></div>
                            <figcaption>
                              
                              <h3>{{ each[0] }}</h3>
                              <p>

                                {{ each[1] }}
                              </p>
                            </figcaption>
                            <a href="#"></a>
                          </figure>
                        {% endfor %}

                        </div>
                    </div>
                    <h3 class="text-dark mb-1" style="font-size: 24px;margin-top: 23px;">Events</h3>
                    <div class="col">
                        <div class="row">

                        {% for each in cat_data.events %}
                          <figure class="snip1527">
                            <div class="image"><img src="{{ url_for('static', filename=each[2]) }}" alt="pr-sample23" /></div>
                            <figcaption>
                              <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
                              <h3>{{ each[0] }}</h3>
                              <p>

                                {{ each[1] }}
                              </p>
                            </figcaption>
                            <a href="#"></a>
                          </figure>
                        {% endfor %}

                      </div>
                    </div>
                    <h3 class="text-dark mb-1" style="font-size: 24px;margin-top: 23px;">Suggestions</h3>
                    <div class="col">
                        <div class="row">

                        {% for each in cat_data.suggestions %}
                          <figure class="snip1527">
                            <div class="image"><img src="{{ url_for('static', filename=each[2]) }}" alt="pr-sample23" /></div>
                            <figcaption>
                              
                              <h3>{{ each[0] }}</h3>
                              <p>

                                {{ each[1] }}
                              </p>
                            </figcaption>
                            <a href="#"></a>
                          </figure>
                        {% endfor %}

                      </div>
                    </div>
                  {% endif %}
                
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © HackInTouch 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/theme.js') }}"></script>
</body>

</html>